@import url(https://fonts.googleapis.com/css?family=Oswald:300,400);
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Oswald', sans-serif;
  color: #31353d;
  background-color: #eeeff7;
}

.overflow-hidden {
  overflow: hidden;
}

a {
  color: #435779;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.img-replace {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* --------------------------------
header
-------------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #31353d;
  text-align: center;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 4;
}
@media only screen and (min-width: 900px) {
  header {
    height: 80px;
  }
}

#logo {
  padding-top: 5px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

@media only screen and (min-width: 900px) {
  #logo {
    padding-top: 20px;
    position: absolute;
    left: 2.4em;
    top: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

#hamburger-menu, #cart-trigger {
  position: absolute;
  top: 0;
  height: 100%;
}
#hamburger-menu a, #cart-trigger a {
  width: 60px;
  height: 100%;
}
#close-menu{
    position: absolute;
    left: 0;
}
#close-menu a {
  background: transparent url("../images/remove-item.svg") no-repeat center center;
  width: 60px;
  height: 100%;
}

#hamburger-menu {
  left: 0;
}
#hamburger-menu a {
  background: #26292f url("../images/hamburger-menu.svg") no-repeat center center;
}
@media only screen and (min-width: 900px) {
  #hamburger-menu {
    display: none;
  }
}

#cart-trigger {
  right: 0;
}

header a.cart-link {
  float: right;
  padding-left: 1em;
  margin-right: 1em;
  border-left: 1px dotted #515151;
  line-height: 3em;
  text-decoration: none;
  color: #fff;
  transition: color 150ms ease-out;
}
header a.cart-link:hover {
  color: #7cbae6;
}
header a.cart-link:active, header a.cart-link .active {
  color: #9cdaf0;
}
header span.cart-text:before {
  margin: 5px;
}
header span.cart-text:before > span {
  display: block;
}
header span.cart-quantity {
  position: relative;
  top: -2px;
  left: 5px;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #f63;
  font-size: 0.6em;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

header .cart-quantity.empty {
  display: none;
}
header .returnToShop {
  display: none;
}
header a.cart-link.active {
  border: 0;
 }
header a.cart-link.active span.cart-text {
  display: none;
}
header a.cart-link.active span.cart-quantity {
  display: none;
}
header a.cart-link.active span.returnToShop {
  position: absolute;
  right: -75px;
  display: block;
  padding: 0 10px;
  background: #1e1e1e;
  border-right: 1px dotted #444444;
}

@media only screen and (min-width: 900px) {
  #cart-trigger {
    right: 0;
  }
  #cart-trigger a {
    position: relative;
    width: 100px;
    border-left: none;
    background-color: #26292f;
  }
  header a.cart-link {
    padding-left: 1em;
    margin-right: 1em;
    line-height: 5em;
  }
}

#main-nav, #cart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 260px;

  padding-top: 50px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

@media only screen and (min-width: 768px) {
  #cart {
    width: 350px;
  }
}

@media only screen and (min-width: 900px) {
  #main-nav, #cart {
    width: 30%;
    padding-top: 80px;
  }
}

.cart-product  span{
  position: relative;
  display: inline-block;
  height: 75px;
  width: 75px;
  background-size: cover;
  vertical-align: top;
}

.cart-product input.qty {
  width: 75px;
  height: 75px;
  padding: 0;
  border: 0;
  border-right: 1px solid #333;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2.5em;
  line-height: 75px;
  text-align: center;
  color: #fff;
}

.cart-product .subtotal {
  position: relative;
  display: inline-block;
  margin: 8px;
  font-size: 0.8em;
}

#main-nav {
  left: -100%;
  background: #FFF;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
}
#main-nav.speed-in {
  left: 0;
}
#main-nav ul a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 1em;
  border-bottom: 1px solid #e0e6ef;
}
#main-nav ul .current {
  box-shadow: inset 3px 0 #435779;
}

@media only screen and (min-width: 900px) {
  #main-nav {
    position: absolute;
    height: auto;
    width: auto;
    left: auto;
    right: 8em;
    padding-top: 0;
    top: 0;
    background: transparent;
    box-shadow: none;
    line-height: 80px;
    z-index: 4;
  }
  #main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  #main-nav ul a {
    display: inline-block;
    height: auto;
    line-height: 1;
    padding: 1em 1.4em;
    border-bottom: none;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 0.25em;
  }
  #main-nav ul a.current {
    box-shadow: none;
    background: #435779;
    color: #FFF;
  }
  .no-touch #main-nav ul a:hover {
    background: #435779;
    color: #FFF;
  }
}

.no-js #main-nav {
  position: fixed;
}

#cart {
  right: -100%;
  background: #FFF;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s;
}

#cart.speed-in {
  right: 0;
}
#cart > * {
  padding: 0 1em;
}
#cart h2 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}
#cart .cart-items {
  padding: 0;
}
#cart .cart-items li {
  position: relative;
  padding: 1em;
  border-top: 1px solid #e0e6ef;
}
#cart .cart-items li:last-child {
  border-bottom: 1px solid #e0e6ef;
}
#cart .qty, #cart .price {
  color: #a5aebc;
}
#cart .price {
  margin-top: .4em;
}
#cart .item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("../images/remove-item.svg") no-repeat center center;
}
.no-touch #cart .item-remove:hover {
  background-color: #e0e6ef;
}
#cart .cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}
#cart .cart-total span {
  float: right;
}
#cart .cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
#cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}
.no-touch #cart .checkout-btn:hover {
  background: #a2dda8;
}
#cart .go-to-cart {
  text-align: center;
  margin: 1em 0;
}
#cart .go-to-cart a {
  text-decoration: underline;
}
@media only screen and (min-width: 900px) {
  #cart > * {
    padding: 0 2em;
  }
  #cart .cart-items li {
    padding: 1em 2em;
  }
  #cart .item-remove {
    right: 2em;
  }
}

/* --------------------------------
gallery
-------------------------------- */
main {
  position: relative;
  min-height: 100%;
  background: #eeeff7;
  padding-top: 70px;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  main {
    padding-top: 90px;
  }
}
@media only screen and (min-width: 900px) {
  main {
    padding-top: 120px;
  }
}

#gallery-items li {
  margin-bottom: 1.5em;
}

#gallery-items li .product img {
  width: 100%;
  display: block;
  border-radius: 0.25em;
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.product {
  font-family: 'Oswald', Arial, sans-serif;
  position: relative;
  float: left;
  margin: 20px 1%;
  min-width: 230px;
  z-index: 1;
  width: 100%;
  background: #ffffff;
  text-align: center;
  color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.product * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}


@media only screen and (min-width: 768px) {
  #gallery-items li {
    width: 48%;
    float: left;
    margin-bottom: 2em;
    margin-right: 4%;
  }
  #gallery-items li:nth-child(2n) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 900px) {
  #gallery-items li {
    width: 31%;
    float: left;
    margin-bottom: 2.5em;
    margin-right: 3.5%;
  }
#gallery-items li:nth-child(2n) {
    margin-right: 3.5%;
  }
  #gallery-items li:nth-child(3n) {
    margin-right: 0;
  }
}

.product figcaption {
  padding: 20px 15px;
}
.product h3,
.product p {
  margin: 0;
}
.product h3 {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.product p {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 300;
}
.product .price {
  font-weight: 500;
  font-size: 1.4em;
  line-height: 48px;
  letter-spacing: 1px;
}
.product .price s {
  margin-right: 5px;
  opacity: 0.5;
  font-size: 0.9em;
}
.product i {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  width: 56px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  background: #435779;
  background-image: url(../images/cart.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 1.6em;
  border: 4px solid #0ff;
  cursor: pointer;
  z-index: 2;
}
.product a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.product:hover .img-title {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
     filter: alpha(opacity=90);
}

.product:hover i,
.product.hover i {
  background-color: #2980b9;
}


#shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(67, 87, 121, 0.6);
  cursor: pointer;
  z-index: 2;
  display: none;
}
#shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -moz-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

.mega-menu {
    background: none repeat scroll 0 0 #fff;

    z-index: 10;
    top: 90px;
    position: absolute;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
	padding: 15px;
    text-align: left;
	display: none;
	transition-duration: 0.9s;
}

.mega-menu.speed-in {
  left: 0;
  display:block;
  transition-duration: 0.9s;
}

@media only screen and (max-width: 900px) {
   .mega-menu {
        width: 260px;
        position: absolute;
        top: 50px;
        margin-left: 0;
        left: -100%;
        background: #FFF;
        -webkit-transition: left 0.3s;
        -moz-transition: left 0.3s;
        transition: left 0.3s;
    }

  .mm-3column{
    width: 100%;
    display:table;
    clear:both;
    margin-bottom: 2em;
  }
  .left-images{
      display: none;
  }

  .categories-list ul span{
    width: 230px;
  }

  .mega-menu ul a, .mega-menu span a{
    display: block;
    width: 230px;
    height: 50px;
    left: 20px;
    line-height: 50px;
    padding: 0 1em;
    border-bottom: 1px solid #e0e6ef;
  }
  .mega-menu ul .current {
    box-shadow: inset 3px 0 #435779;
  }

}

/*--column--*/
.mm-6column:after, .mm-6column:before, .mm-3column:after, .mm-3column:before{
content:"";
display:table;
clear:both;
}
.mm-6column, .mm-3column {
 float: left;
 position: relative;
 }
.mm-6column {
    width: 50%;
}
.mm-3column {
        width: 25%;
}
.responsive-img {
    display: block;
    max-width: 100%;
}
.left-images{
    margin-top: 1.5em;
    font-size: 14px;

}
 .left-images, .left-categories-list {
   float: left;
}

.categories-list li {
    display: block;
    line-height: normal;
    margin: 0;
}
.categories-list span a {
    padding-left: 30px;
    display: inline-block;
}
.link span i {
	position: absolute;
	margin-right: 12px;
	font-size: 18px;
	color: #595959;

	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.categories-list li :hover{
		background: none repeat scroll 0 0 #507fff;
        color: #fff;
}

.left-images > p > a {
    background: none repeat scroll 0 0 #444359;
    display: block;
    color: #fff;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    padding: 5px 14px;
}

.categories-list span {
    font-size: 18px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.display-on{
    display:block;
    transition-duration: 0.9s;
}


.drop-down > a:after{
    content:"\f103";
    color:#fff;
    font-family: FontAwesome;
    font-style: normal;
    margin-left: 5px;
}

/*Animation--*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.accordion {
   width: 100%;
   max-width: 260px;
   background: #FFF;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}

.accordion .link {
   cursor: pointer;
   display: block;
   color: #4D4D4D;
   font-size: 14px;
   font-weight: 700;
   border-bottom: 1px solid #CCC;
   position: relative;
   -webkit-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.accordion li:last-child .link {
   border-bottom: 0;
}

.accordion .default .submenu {display: block;}

/** * Submenu   -*/
 .submenu {
 	background: #444359;
 	font-size: 14px;
 }
 @media only screen and (max-width: 900px) {
     .mm-3column {
             width: 100%;
     }
}
 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }

 /* ==============================
 	$-Styles
 ============================== */

 .search {
   padding-top: 5px;

 }

 @media only screen and (min-width: 900px) {
    .search {
     padding-top: 20px;
     position: absolute;
     left: 9em;
     top: 2em;
     font-size: 1em;
     -webkit-transform: translate(-50%, -50%);
             transform: translate(-50%, -50%);
     min-width: 18.9375em;
   }
 }

 .search input[type=submit] {
   vertical-align: middle;
   width: 1.375em;
   height: 1.375em;
   color: #fff;
   border: none;
   outline: none;
   background: none;
   -webkit-transition: opacity 100ms ease-in-out;
   transition: opacity 100ms ease-in-out;
   cursor: pointer;
 }
 .search input[type=submit]:hover {
   opacity: .5;
 }
 .search input[type=text] {
   width: 14em;
   height: 2.5em;

   padding: 0 .375em;
   border: none;
   border-bottom: 1px solid #999;
   margin-left: .1875em;
   background: #fff;
   -webkit-transition: border-color 100ms ease-in-out;
   transition: border-color 100ms ease-in-out;
 }
 .search input[type=text]:focus {
   border-bottom-color: inherit;
   outline: none;
 }
 .search-slide {
   width: 0;
   height: 2.3em;
   overflow: hidden;
 }

 .search-close {
   width: 1.375em;
   height: 1.375em;
   color: #fff;
   text-align: center;
   cursor: pointer;
   -webkit-transition: opacity 100ms ease-in-out;
   transition: opacity 100ms ease-in-out;
 }
 .search-close:hover {
   opacity: .5;
 }

 /* inline block */
 .ib {
   display: inline-block;
   vertical-align: top;
 }

 .ib-m {
   display: inline-block;
   vertical-align: middle;
 }

.product:hover {
  /*z-index: -1;*/
  background: rgba(0, 0, 0, 0.8);
 }

 .product:hover .button {
   display: block;
   z-index: 2;
 }

.button {
   position: absolute;;
   display: none;
   z-index: -1;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   width: 150px;
   height: 50px;
   text-align: center;
   perspective: 1000px;
 }

 .button .prices {
   position: absolute;
   z-index: 2;
   top: 2px;
   display: block;
   width: 50px;
   height: 46px;
   border-right: 1px solid #9cdaf0;
   border-radius: 2px 0 0 2px;
   background: #fff;
   line-height: 45px;
   color: #515151;
   transform: rotateY(0deg) translateZ(25px);
 }
 .button .addtocart {
   position: absolute;
   left: 48px;
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   transform: translateZ(-100px);
   transition: transform 300ms;
   cursor: pointer;
 }
 .button .addtocart > div {
   position: absolute;
   display: block;
   width: 150px;
   height: 50px;
   border-radius: 0 2px 2px 0;
   line-height: 50px;
 }
 .button .addtocart > .add {
   background: #fff;
   color: #7cbae6;
   transform: rotateY(0deg) translateZ(25px);
   transition: background 150ms ease-out;
 }
 .button .addtocart >.add:hover {
   background: #7cbae6;
   color: #fff;
 }
 .button .addtocart > .added {
   background: #f63;
   color: #fff;
   transform: rotateX(90deg) translateZ(25px);
 }
 .button .addtocart.active {
   animation-name: rotate;
   animation-duration: 1s;
 }

 .go-top:after {
   content : "Goto Top" ;
   font-size : 14px;
   font-family : Arial ;
   font-weight : bold ;
   position : absolute ;
   margin : -60px -20px ;
   width : 70px;
   opacity :0 ;
   transition : 0.3s ease ;
 }
 .go-top:hover:after {
   opacity : 1 ;
 }
 .go-top {
   position : fixed ;
   bottom : 20px;
   right : 20px ;
   background : rgba(255,255,255,0.5) ;
   padding : 3px 5px;
   width : 50px;
   height : 50px;
   box-sizing : border-box ;
   font-size : 30px;
   border-radius : 100% ;
   color : #2980b9 ;
   cursor : pointer ;
   border : 5px solid #2980b9 ;
   z-index : 10 ;
   display : none;
 }
 #mega_menu .link{
   cursor: pointer;
 }


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/* --------------------------------
keyframes
-------------------------------- */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
